 #RewriteEngine on
 #RewriteCond %{HTTP:X-Forwarded-Proto} !https
 #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
 ErrorDocument 404 /404.php


 # Options +FollowSymLinks
# RewriteEngine On
# RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
# RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# RewriteRule ^(.*)$ index.php [F,L]

# LimitRequestBody 10240000