:root {
    --fz-sub-title: 0.8em;
    --line-height-title: 1.2em;
    --color-style: #ffcc00;
    --bgc: rgb(245, 245, 245);
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.duplicate-policy {
    margin-bottom: 7%;
}
.privacypolicy__title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  .privacypolicy__info-title {
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0px;
  }
  .privacypolicy__info-subtitle {
    margin: 20px 0px;
    font-size: 16px;
  }
  .privacypolicy__info {
    margin-bottom: 100px;
  }
  .privacypolicy__info-point {
    font-size: 16px;
  }
.block-fz {
    font-size: 30px;
    /* line-height: 1.5em; */
}
.header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 10000;
    border-bottom: 2px solid var(--color-style);
    /* height: 60px; */
    /* margin-bottom: 60px; */
}
.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 10px 20px;
}

.header__wrap {
    display: flex;
    align-items: center;
}
.header__logo-wrap {
    display: flex;
    margin-right: auto;
    align-items: center;
}
.header__logo {
    font-size: 30px;
    color: #343434;
}
.header__logo-img {
    height: 30px;
}
.header__tel {
    font-size: 25px;
    margin-right: 20px;
    color: #343434;
}

.header__social {
    width: 40px;
    margin-left: 10px;
}

.header__burger {
    display: none;
}
.header__burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    color: white;
    top: 60px;
    transition: all 0.3s ease 0s;
    position: fixed;
    left: 200vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-style);
}

.header__burger-menu-item {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 40px;
}
.header__burger-menu-icon {
    width: 50px;
}

.header-duplicate {
    height: 62px;
}
.cost-form {
    /* font-size: 30px; */
    /* padding-top: 2em; */
}

.container {}

.cost-form__title {
    /* margin-bottom: 0.5em; */
    line-height: var(--line-height-title);
    margin-bottom: 0.6em;
    padding-top: 7%;

}

.cost-form__sub-title {
    font-weight: 200;
    font-size: var(--fz-sub-title);
    margin-bottom: 1em;
    line-height: 1.5em;
}

.cost-form__input {
    /* font-size: 25px; */
    margin-bottom: 1em;
}

.cost-form__name,
.cost-form__tel {
    font-weight: 300;
    font-size: 0.6em;
    margin-right: 20px;
    /* text-align: center; */
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}

.cost-form__tel::-webkit-outer-spin-button,
.cost-form__tel::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cost-form__tel[type=number] {
    -moz-appearance: textfield;
}

.cost-form__btn {
    font-weight: 300;
    font-size: 0.7em;
    text-align: center;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: var(--color-style);
}

.cost-form__data-processing {
    font-weight: 100;
    font-size: 0.5em;
    margin-bottom: 7%;
}


.service-rate {
    background-color: rgb(255, 255, 255);
}

.service-rate__title {
    line-height: var(--line-height-title);
}

.service-rate__title:first-child {
    padding-top: 7%;
    margin-bottom: 0.4em;
}

.service-rate__sub-title {
    font-weight: 200;
    font-size: var(--fz-sub-title);
}

.service-rate__item {
    margin-top: 1.2em;
    padding: 15px;
    box-shadow: 0px 0px 30px 1px #e6e6e6df;
    border-radius: 20px;
}
.service-rate__item:last-child{
    margin-bottom: 7%;
}
.service-rate__item-title {
    font-size: 0.9em;
    margin-bottom: 0.6em;
}
.service-rate__item-cost {
    font-weight: 300;
    font-size: 0.8em;
    margin-bottom: 0.6em;
}
.service-rate__item-info {
    font-size: 0.7em;
    font-weight: 300;
}

.gallery {
    background-color: var(--bgc);
}
.swiper {
    margin-top: 7%;
    margin-bottom: 7%;
    
}
.swiper-wrapper {  
}
.swiper-slide { 
    border-right: 10px solid var(--bgc);
    border-left: 10px solid var(--bgc);
    position: relative;
    padding-top: 30%;
    /* padding-top: 57%; */
    /* padding-top: 115%; */
    /* height: 700px; */
    
}
.swiper-slide-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* object-fit: scale-down; */
    width: 100%;
    height: auto;
    margin: auto;
}
.swiper-button-prev {
    color: var(--color-style);
    left: 10;
}
.swiper-button-next {
    color: var(--color-style);
    right: 10;
}
.payment {
    background-color: rgb(245, 245, 245);
    
}

.payment__title {
    line-height: var(--line-height-title);
    margin-bottom: 0.6em;
    padding-top: 7%;
}

.payment__sub-title {
    margin-bottom: 3em;
    font-size: var(--fz-sub-title);
    font-weight: 200;
}

.payment__block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
}

.payment__block-item {
    padding-left: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 33.333%;
    align-self: flex-start;
    align-items: center;
}

.payment__block-item-icon {
    height: 70px;
    margin-bottom: 10px;
}

.payment__block-item-title {
    font-size: 0.8em;
    margin-bottom: 10px;
    /* font-weight: 200; */
}

.payment__block-item-sub-title {
    font-weight: 200;
    font-size: 0.7em;
    text-align: center;
}

.payment__block-arrow {
    width: 50px;
}

.payment__footer {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto 7% auto;
}

.payment__footer-img {
    margin-right: 5%;
    height: 70px;
}

.payment__footer-text {
    font-weight: 200;
    font-size: 0.7em;
}

.warranty {

}

.warranty__title {
    line-height: var(--line-height-title);
    margin-bottom: 0.6em;
    margin-top: 7%;
}

.warranty__sub-title {
    font-size: var(--fz-sub-title);
    font-weight: 200;
    line-height: 1.5em;
    margin-bottom: 3em;
}

.warranty__desc {
    display: grid;
    grid-template: 200px 200px / 1fr 1fr;
    gap: 20px;
    margin-bottom: 7%;
}

.warranty__img {
    margin-right: 15px;
    height: 70px;
}
.warranty__text {
    font-size: 0.7em;
    text-align: center;
}

.warranty__desc-wrap {
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
}

.excursion {
    margin-bottom: 100px;
    background-color: var(--bgc);
}

.excursion__title {
    line-height: var(--line-height-title);
    margin-top: 7%;
    margin-bottom: 0.6em;
}


.excursion__sub-title {
    font-weight: 200;
    font-size: var(--fz-sub-title);
    margin-bottom: 7%;
}

.excursion__button {
    background-color: var(--color-style);
    font-weight: 300;
    font-size: 0.7em;
    padding: 10px 40px;
    border-radius: 20px;
    display: block;
    margin: 0px auto;
    margin-bottom: 7%;
}
.map {
    margin-bottom: 7%
}
.map__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.footer {
    flex: 0 0 auto;
    font-size: 16px;
    padding: 40px 0px;
    /* height: 140px; */
    background-color: rgb(217, 217, 217);
}
.footer__nav {
    display: flex;
    align-items: center;
    /* height: 140px; */
    font-size: 16px;
}
.footer__email {
    margin-right: auto;
    color: #343434;
}

.footer__conf {
    color: #343434;
}

@media(max-width: 1000px) {
    .block-fz {
        font-size: 25px;
    }

    .cost-form__sub-title {}

    .cost-form__input {
        display: flex;
        flex-direction: column;
    }

    .cost-form__name,
    .cost-form__tel {
        width: 300px;
        margin: 20px 0px 0px 0px;
    }

    .cost-form__btn {
        width: 300px;
        margin: 20px 0px 0px 0px;
    }

    .cost-form__name,
    .cost-form__tel,
    .cost-form__btn {
        width: 100%;
    }
}

@media(max-width: 800px) {
    .swiper-slide {
        padding-top: 57%;
    }
    }
@media(max-width: 700px) {
    .payment__block-item {
        align-self: center;
    }
    .payment__block {
        flex-direction: column;
        justify-content: center;
    }
    .payment__block-arrow {
        transform: rotate(90deg);
        margin: 30px 0px;
    }

    .payment__footer {
        display: flex;
        flex-direction: column;
    }
    .payment__footer-img {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .payment__footer-text {
        text-align: center;
    }
    .warranty__desc {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        gap: 20px;
    }

    .warranty__desc-wrap {
        align-items: center;
        flex-direction: column;
    }

    .warranty__img {
        margin-bottom: 15px;
        margin-right: 0px
    }
}
@media(max-width: 600px) {
    .container {
        padding: 10px 10px;
    }
    .header-duplicate {
        height: 52px;
    }
    .header__burger-menu {
        top: 52px;
    }
    .header__burger-menu-item {
        color: #343434;
        /* margin: 0px 5px; */
    }

    .header__burger-menu-icon {
    }
    .block-fz {
        font-size: 20px;
    }
    .header__burger-menu-link {
        margin: 0px 10px;
    }
    .header__burger-menu.active {
        visibility: visible;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger-menu {
    }

    body.lock {
        overflow: hidden;
    }

    .header {
        margin-bottom: 30px;
    }

    .header__wrap {
        justify-content: space-between;
    }
    .header__logo-wrap {
        margin: 0px;
    }

    .header__tel {
        margin: 0px;

    }
    .cost-form__title {}

    .cost-form__sub-title {}

    .cost-form__data-processing {}
}


@media(max-width: 600px) {
    .header__social {
        display: none;
    }

    .header__tel {
    }

    .header__burger {
        height: 25px;
        display: block;
    }
}
@media(max-width: 500px) {
    .header-duplicate {
        height: 47px;
    }
    .header__burger-menu {
        top: 47px;
    }
    .header__logo-wrap {
    }
    .header__logo {
        font-size: 25px;
    }
    .header__logo-img {
        height: 25px;
    }
    .header__tel {
        font-size: 20px;
    }
}

@media(max-width: 450px) {
    .swiper-slide {
        padding-top: 115%;
    }

    .header__logo-wrap {
    }
    .header__logo {
        font-size: 20px;
    }
    .header__logo-img {
        display: none;
    }
    .header__tel {
        font-size: 16px;
    }
    }